$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 1200px;

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$text-color: rgba(40, 54, 69, 1);

$main-font: "Open Sans", "Arial", sans-serif;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 24px;


